<!--
  ~ **********************************************************
  ~   author   colin
  ~   company  telchina
  ~   email    wanglin2046@126.com
  ~   date     18-1-9 下午2:46
  ~ *********************************************************
  -->

<manifest package="com.zcolin.gui.zrecyclerview">

    <application/>
</manifest>
